<script setup>
import TranslationBoxPair from './components/TranslationBoxPair.vue';
import Header from './components/Header.vue';
</script>

<template>
  <main>
    <Header />
    <TranslationBoxPair />
  </main>
</template>

<style>
@import './assets/base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}
</style>
