<template>
  <div class="pageheader">
    <span class="logo">
      <img src="../assets/featherlogo.jpeg" width="80" height="80" />
    </span>

    feather
  </div>

</template>

<style scoped>

.pageheader {
  vertical-align:middle;
  font-size:24pt;
  font-family:monospace;
}
.logo {
  display:inline-block;
  vertical-align:middle;
}

</style>
