<script>
import axios from 'axios';

const BACKEND_URL = import.meta.env.VITE_BACKEND_URL;
const client = axios.create({
    baseURL: BACKEND_URL
});

export default {
  data() {
    return {
      sourceText: '',
      targetText: '',
      sourceLanguage: null,
      targetLanguage: null,
      sourceLanguages: [],
      targetLanguages: [],
      requestId: null,
    }
  },
  mounted() {
    client
      .get('/status/')
      .then((response) => {
        this.sourceLanguages = response.data.sourceLanguages;
        this.targetLanguages = response.data.targetLanguages;
      });
  },
  methods: {
    sendTranslateRequest() {
      var data = {
        sourceText: this.sourceText,
        sourceLanguage: this.sourceLanguage,
        targetLanguage: this.targetLanguage,
      };
      this.translationVisibility = 'visible';
      client
        .post('/translate/', data)
        .then(response => {
          // this.translationVisibility = 'show';
          this.requestId = response.data.requestId;
          this.pollInterval = setInterval(this.fetchData, 1000); //save reference to the interval
        })
        .catch(function (error) {
          if (error.response) {
            // The request was made and the server responded with a status code
            // that falls out of the range of 2xx
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
          } else if (error.request) {
            // The request was made but no response was received
            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
            // http.ClientRequest in node.js
            console.log(error.request);
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log('Error', error.message);
          }
          console.log(error.config);
        });
    },
    fetchData() {
      client
        .get('/translate/' + this.requestId + '/')
        .then((response) => {
          //check if status is completed, if it is stop polling 
          if(response.data.status == 'COMPLETED') {
            clearInterval(this.pollInterval); //won't be polled anymore 
            this.targetText = response.data.result.targetText;
            this.requestId = null
          }
        })
        .catch(function (error) {
          if (error.response) {
            // The request was made and the server responded with a status code
            // that falls out of the range of 2xx
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
          } else if (error.request) {
            // The request was made but no response was received
            // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
            // http.ClientRequest in node.js
            console.log(error.request);
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log('Error', error.message);
          }
          console.log(error.config);
        });
    }
  },
  computed: {
    progressText() {
      if (this.requestId == null) {
        return "";
      }
      return "Waiting for request " + this.requestId
    }
  }
}
</script>

<template>
  <div>
    <div style="text-align: center"><!-- Container for textareas side by side -->
      <div style="float: left; padding: 5mm">
        <label for="source-text">Input Text:</label><br/>
        <textarea id="source-text" class="translation-box" v-model="sourceText" placeholder="Input text to translate!" cols=30 rows=6></textarea>
        <p>
          <button @click="sendTranslateRequest" class="translate-button">Translate</button>
          <label for="sourceLanguage" style="padding: 8pt">from:</label>
          <select v-model="sourceLanguage" name="sourceLanguage" id="sourceLanguage">
            <option v-for="language in sourceLanguages" :key="language" :value="language">
              {{ language }}
            </option>
          </select>
          <label for="targetLanguage" style="padding: 8pt">to:</label>
          <select v-model="targetLanguage" name="targetLanguage" id="targetLanguage">
            <option v-for="language in targetLanguages" :key="language" :value="language">
              {{ language }}
            </option>
          </select>
        </p>
      </div>
      <div style="float: left; padding: 5mm">
        <label for="target-text">Translation:</label><br/>
        <textarea id="target-text" class="translation-box" v-model="targetText" cols=30 rows=6 readonly="true"></textarea>
      </div>
    </div>
    <p id="progress" style="clear: left">{{ progressText }}</p>
  </div>
</template>

<style scoped>
.translate-button {
  margin:10px;
}
.translation-box {
  color: var(--color-text);
  background-color: var(--color-background-soft);
  border: 1px solid var(--color-border);
  font-family: var(--font)
}
</style>
